* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: auto;
}

h1 {
    background-color: orange;
}

h2 {
    margin-top: 20px;
    background-color: black;
    color: white;
}

div {
        margin: 0 auto;
        width: 50%;
}



.agregado {
    background-color: yellow;
}
.reemplazo {
    background-color: red;
}

.lp  {
    font-style: oblique;
    color: green;
    list-style-type: circle;
}

.jvm {
    list-style-type: square;
}

b {
    color: red;
}

#rpta1 {
    border-radius:  10px;
    border-style: solid;
    border-color: red;
    margin: 0 auto;
    width: 100%;
}
#rpta2 {
    border-radius:  10px;
    border-style: solid;
    border-color: green;
    margin: 0 auto;
    width: 100%;
}

#contenido {
    float: left;

}

#lateral {
        float: right;
    
}